<div class="row">
  <div class="col-6 col-sm-9">
    <h1>Main page</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav">
      <ul class="main-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-6 col-sm-3">
    <div class="sidebar">
      <h3>Szybki kontakt:</h3>
      <nav class="navbar navbar-expand-lg nav nav-margin">
        <ul class="main-nav">
          <li>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <a
              href="http://facebook.com"
              target="_blank"
              rel="noopener noreferrer"
            >Facebook</a
            >
          </li>
          <li>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <a
              href="http://instagram.com"
              target="_blank"
              rel="noopener noreferrer"
            >Instagram</a
            >
          </li>
          <li>
            <i class="fa fa-reply" aria-hidden="true"></i>
            <a
              href="http://gmail.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              Email
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="scroll">
  <button class="btn btn-success">
    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>Do góry
  </button>
</div>

<script src="js/scroll.js"></script>
