<form>
  <label for="kontrolka1">Imie</label>
  <input name="nazwa" placeholder="Podaj Imie"
         id="kontrolka1">
  <p>
    <label for="kontrolka2">Nazwisko</label>
    <input name="nazwa" placeholder="Podaj Nazwisko"
           id="kontrolka2">
  </p>
  <p>
    <label for="kontrolka3">E-mail</label>
      <input name="nazwa" placeholder="Podaj email"
             id="kontrolka3">
  </p>
  <p>
    <label for="kontrolka4">Plec</label>
    <input type="checkbox" name="nazwa" value="wartosc"
           checked id="kontrolka4"> Mezczyzna
    <input type="checkbox" name="nazwa" value="wartosc"
           id="kontrolka5"> Kobieta
  </p>
  <p>
    <label for="kontrolka6">Opis</label>
    <textarea rows="4" cols="50" id="kontrolka6">Przykladowy tekst</textarea>
  </p>
  <p>
    <label>Wiek</label>
    <select>
      <option value="wartosc1">18-30</option>
      <option value="wartosc2">30-45</option>
      <option value="wartosc3">45-60</option>
      <option value="wartosc4">60+</option>
    </select>
  </p>
  <p>
    <label>Status cywilny</label>
    <select>
      <option value="wartosc1">Panna/Kawaler</option>
      <option value="wartosc2">Zamezna/Zonaty</option>
    </select>
  </p>
</form>
<div class="scroll">
  <button class="btn btn-success">
    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>Do góry
  </button>
</div>
<script src="navbar.js"></script>
<script src="scroll.js"></script>

