<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kontakt</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<form>
  <label for="kontrolka1">Imie</label>
  <input name="nazwa" placeholder="Podaj Imie"
         id="kontrolka1">
  <p>
    <label for="kontrolka2">Nazwisko</label>
    <input name="nazwa" placeholder="Podaj Nazwisko"
           id="kontrolka2">
  </p>
  <p>
    <label for="kontrolka3">E-mail<label>
      <input name="nazwa" placeholder="Podaj email"
             id="kontrolka3">
  </p>
  <p>
    <label for="kontrolka4">Plec</label>
    <input type="checkbox" name="nazwa" value="wartosc"
           checked id="kontrolka4"> Mezczyzna
    <input type="checkbox" name="nazwa" value="wartosc"
           id="kontrolka4"> Kobieta
  </p>
  <p>
    <label for="kontrolka5">Opis</label>
    <textarea rows="4" cols="50" id="kontrolka5">
        Przykladowy tekst</textarea>
  </p>
  </textarea>
  <p>
    <label for="kontrolka6">Wiek</label>
    <select>
      <option value="wartosc1" id="kontrolka6">18-30</option>
      <option value="wartosc2" id="kontrolka6">30-45</option>
      <option value="wartosc3" id="kontrolka6">45-60</option>
      <option value="wartosc4" id="kontrolka6">60+</option>
    </select>
  </p>
  <p>
    <label for="kontrolka7">Wiek</label>
    <select>
      <option value="wartosc1" id="kontrolka7">Panna/Kawaler</option>
      <option value="wartosc2" id="kontrolka7">Zamezna/Zonaty</option>
    </select>
</form>
</p>
<div class="scroll">
  <button class="btn btn-success">
    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>Do góry
  </button>
</div>
<script src="navbar.js"></script>
<script src="scroll.js"></script>
</body>
</html>
